.main
{
    background-color: #FFF;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px #c1c1c1;
    width: 400px;
}
.users-list
{
    list-style:none;
    padding:0;
}
.users-list img
{
    border-radius: 50%;
    width:50px;
    border-top:2px solid #444;
}
.users-list div
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.users-list li
{
    border-bottom: 1px solid #CCC;
    padding: 10px;
}
.users-list li:last-child
{
    border: none;
}
.text
{
    flex-basis: 180px;
    align-items: flex-start;
}
.search
{
    text-align: center;
}
.search input
{
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border:none;
    border-bottom: 2px solid #444;
    margin-bottom: 20px;
    font-size: 20px;
}
.send-invite-btn
{
    width: 100%;
    margin-top: 20px;
    border:none;
    border-top: 2px solid #444;
    padding:20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #FFBB02;
    font-size: 20px;
    font-weight: bold;
}